<h1> Products <h1>

  <% @products.each do |product| %>
    <p><%= product.name %></p>
  <% end %>

  <!-- <h4>Photos</h4>
<% @product.photos.each do |photo| %>
  <%= image_tag photo.image %>
<% end %> -->
